@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HarryFont';
  src: url('/fonts/harry.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  scrollbar-width: thin; /* "auto" o "thin" */
  scrollbar-color: #6e5a1a #000; /* barra azul sobre fondo blanco */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .md-custom {
    p:has(> div) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
